{% extends 'base.html' %} 
{% block content %}
{% with planet=primaryplanet %}
<div class="detail__img">
    <img src="{{planet.img}}" alt="{{planet.name}}" class="img-fluid"/>
</div>
<div class="detail__name">
    <h1 class="title">{{planet.name}}</h1>
    <h2 class="lead">Type: {{planet.type}}</h2>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'planet_update' planet.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'planet_delete' planet.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <hr class="hr" />
    <div class="detail__songs mb-5">
        <h3 class="title is-3">Moons</h3>
        <form class="mb-5" action="{% url 'moon_create' planet.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="title"
                        placeholder="Name"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="title"
                        placeholder="Image URL"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="length"
                        placeholder="Short Description"
                        min="1"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="number"
                        name="length"
                        placeholder="Year of Discovery"
                        min="1"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="length"
                        placeholder="Name of a Discoverer"
                        min="1"
                        required
                    />
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit" value="Add Moon" />
                </div>
            </div>
        </form>
        {% for moon in planet.moon.all %}
        <div class="moon">
          <span>{{forloop.counter}}</span>
          <span><b>{{moon.name}}</b></span>
        </div>
            {% empty %}
        <article class="message">
          <div class="message-header">
            <p>This Planet Has No Moons</p>
          </div>
        </article>
    
        {% endfor %}
      </div>
    <div class="detail__about">
        <p class="lead">{{planet.description}} </p>
    </div>
</div>
{% endwith %}
{% endblock %}