{% extends 'base.html' %} 
{% block content %}
{% with planet=primaryplanet %}
<div class="container">
    <img src="{{planet.img}}" alt="{{planet.name}}" class="img-fluid"/>
</div>
<div class="container">
    <h1 class="title">{{planet.name}}</h1>
    <h2 class="lead">Type: {{planet.type}}</h2>
</div>
<div class="detail__container">
    <div class="container buttons">
        <a href="{% url 'planet_update' planet.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'planet_delete' planet.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <hr class="hr" />
    <div class="container text-center mb-5">
        <div class="detail__about">
            <p class="lead">{{planet.description}} </p>
        </div>
        <h3 class="title is-3">Moons</h3>
        <form action="{% url 'moon_create' planet.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <textarea
                        class="form-control"
                        type="text"
                        name="name"
                        placeholder="Name"
                        rows="1"
                        required
                    ></textarea>
                </div>
                <div class="control">
                    <textarea
                        class="form-control"
                        type="text"
                        name="img"
                        placeholder="Image URL"
                        rows="1"
                        required
                    ></textarea>
                </div>
                <div class="control">
                    <textarea class="form-control"
                    id="form4Example3" 
                    rows="4" 
                    placeholder="Description" 
                    name="description" 
                    required></textarea>
                </div>
                </div>
                <div class="control">
                    <textarea
                        class="form-control"
                        type="text"
                        name="year_of_discovery"
                        placeholder="Year of Discovery"
                        rows="1"
                        required
                    ></textarea>
                </div>
                <div class="control">
                    <textarea
                        class="form-control"
                        type="text"
                        name="discovered_by"
                        placeholder="Discovered By"
                        rows="1"
                        required
                    ></textarea>
                </div>
                <div class="control">
                    <input class="btn btn-outline-success btn-rounded" type="submit" value="Add Moon" />
                </div>
            </div>
        </form>
        {% for moon in planet.moon.all %}
        <div class="moon">
          <span>{{forloop.counter}}</span>
          <span><b>{{moon.name}}</b></span>
        </div>
            {% empty %}
        <article class="message">
          <div class="message-header text-center">
            <p>This Planet Has No Moons</p>
          </div>
        </article>
        {% endfor %}
      </div>
</div>
{% endwith %}
{% endblock %}